.App {
  text-align: center;
}

.App_header {
  color: #fff;
  background-color: #000;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App_header h1 {
  margin: 0;
}

